
.row
  .col-lg-5.col-lg-offset-6
    %h3{style: "text-align: right"} Players value: #{@players_costs}
  .col-lg-5.col-lg-offset-1
    -if @info.round != 39
      %h3{style: "text-align: left"} Round: #{@info.round}  
    -else
      %h3 End of the season
/ .round
 
.container
  .row
    .col-lg-10.col-lg-offset-1
      %table.table.table-condensed
        %tr
          %th= 'Player name'
          %th= 'Position'
          %th= 'Overallrating'
          %th= 'Has injury'
        %tr.horizontal-divider 
          %td
          %td
          %td
          %td
        -TeamManagementController.helpers.sort_by_position(@chosenClub.players).each do |position|
          -position.each do |player|
            %tr
              %td= TeamManagementController.helpers.player_name player
              %td= player.position
              %td= player.overallrating
              %td= player.injury
          %tr.horizontal-divider 
            %td
            %td
            %td
            %td      


-if @info.round != 39
  .form.form-group
    = form_for :players, url: simulation_path do |p|
      %table.table.table-borderless
        %tr
          %td
          %td{"colspan" => 2, "data-halign" => "center"}= p.collection_select :id_1, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select goalkeeper"}, class: "form-control"
          %td 
        %tr
          %td= p.collection_select :id_2, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select back"}, class: "form-control" 
          %td= p.collection_select :id_3, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select back"}, class: "form-control"
          %td= p.collection_select :id_4, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select back"}, class: "form-control"
          %td= p.collection_select :id_5, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select back"}, class: "form-control"
        %tr
          %td= p.collection_select :id_6, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select midfielder"}, class: "form-control"
          %td= p.collection_select :id_7, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select midfielder"}, class: "form-control"
          %td= p.collection_select :id_8, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select midfielder"}, class: "form-control"
          %td= p.collection_select :id_9, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select midfielder"}, class: "form-control"
        %tr
          %td
          %td= p.collection_select :id_10, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select striker"}, class: "form-control"
          %td= p.collection_select :id_11, @chosenClub.players, :id, lambda { |p| p.commonname ? "#{p.commonname}" : "#{p.firstname} #{p.lastname}"}, {prompt: "Select striker"}, class: "form-control"
          %td
      = p.submit 'Simulate', class: 'btn btn-primary'

