%h1 Create a new player

= simple_form_for player do |f|
  = render 'shared/error_messages', object: f.object
  .inputs
    = f.input :firstname
    = f.input :lastname
    = f.input :commonname
    = f.input :position, as: :radio_buttons, collection: [:B, :O, :P, :N]
    = f.input :overallrating

  .actions
    = f.button :submit
