!!!
%html{ lang: 'en' }
  %head
    / %meta{ charset: 'utf-8' }/
    / %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    / %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    %title Simulator
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container.col-lg-6.col-lg-offset-3
        .navbar-header
          -if SeasonInfo.first[:club_name]
            %span.navbar-brand #{SeasonInfo.first[:club_name]}
          -else
            %span.navbar-brand Choose team
        .navbar-collapse.collapse{:id => "navigation"}
          %ul.nav.navbar-nav.navbar-right
            %li.active= link_to "Clubs", choose_team_path
            -if SeasonInfo.first[:club_name]
              %li.active=link_to "Club", team_management_path
            %li.dropdown.active
              %a.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown"}
                = "Options"
                %b.caret
              %ul.dropdown-menu
                -if SeasonInfo.first[:club_name]
                  %li= link_to "Tabel", league_result_path
                  %li= link_to "Search players", search_path
                  %li.divider
                  %li= link_to "End simulation", choose_team_path, method: "delete", data: { confirm: 'Are you sure you want to end simulation?'}
                -else
                  %li=link_to "Search players", search_path


    .container           
      .row
        .col-lg-10.col-lg-offset-1
          - flash.each do |type, message|
            .alert{ class: bootstrap_class_for(type)}
              = message

      = yield
    = debug(params) if Rails.env.development?